<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donggi.sendzy.member.infrastructure.MemberMapper">

    <insert id="create" parameterType="com.donggi.sendzy.member.domain.Member">
        INSERT INTO member (email, encoded_password, created_at)
        VALUES (#{email}, #{encodedPassword}, #{createdAt})
    </insert>

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM member WHERE email = #{email})
    </select>

    <delete id="deleteAll">
        DELETE FROM member
    </delete>

</mapper>
