<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donggi.sendzy.remittance.infrastructure.RemittanceHistoryMapper">

    <insert id="create" parameterType="com.donggi.sendzy.remittance.domain.RemittanceHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO remittance_history (remittance_request_id, member_id, email, description, amount, balance, created_at)
        VALUES (#{remittanceRequestId}, #{memberId}, #{email}, #{description}, #{amount}, #{balance}, #{createdAt})
    </insert>

    <select id="findById" parameterType="long" resultType="com.donggi.sendzy.remittance.domain.RemittanceHistory">
        SELECT id, remittance_request_id, member_id, email, description, amount, balance, created_at FROM remittance_history WHERE id = #{id}
    </select>

    <select id="listBySenderId" parameterType="long" resultType="com.donggi.sendzy.remittance.domain.RemittanceHistory">
        SELECT id, remittance_request_id, member_id, email, description, amount, balance, created_at FROM remittance_history WHERE member_id = #{memberId}
    </select>
</mapper>
